<!-- your code here -->


<header>
  <div  class="container">
    <div class="header__body">
     <div class="header__column">
     <a href="#" class="header__logo"><embed src="../images/logo/logo.svg" alt="logo"></a>

     </div>
    <div class="header__column">
       <div class="header__desctop">
      <a href="#" class="header__button" role="button">Установить</a>
    </div>
      <div class="header__mobile">
      <a href="#" class="header__button" role="button"><img src="../images/icons/google.svg" alt="google play"></a>
      <a href="#" class="header__button" role="button"><img src="../images/icons/app.svg" alt="app store"></a>
      </div>
    </div>
    </div>
    </div>
  </header> 

<main>
      <div class="invest">
    <div class="invest__container">
          <div class="invest__content">
      <h2 class="invest__title title"><span class="primary-color">Инвестируйте легко</span><br>
         и получайте доход<br><span class="primary-color"> +51,9%</span> годовых *</h2>
           <div class="invest__text text">
      Выбирайте стратегии успешных трейдеров 
      и копируйте сделки в авторежиме. 
      Зарабатывайте легко и с минимальными 
      рисками через мобильное приложение Сopybro.
     </div>
     <div class="invest__btn-group">
     <a href="#" class="invest__btn btn">Установить приложение</a>
     <div class="invest__playmarkets">
      <a href="#" class="invest__playmarket-btn"><img src="../images/icons/google-play.svg" alt="google play"> </a>
      <a href="#" class="invest__playmarket-btn"><img src="../images/icons/app-store.svg" alt="app store"></a>
     </div>
     </div>

    </div>
          <div class="invest__avatar">
      <img src="../images/img/phone-man.jpg" alt="man">				
    </div>
    <div class="invest__avatar_mobile">
      <img src="../images/img/phone-man-mobile.jpg" alt="man">				
    </div>

    </div>
      </div>

  <div class="auto-follow">
    <div class="auto-follow__container">
    <div class="auto-follow__avatar">
      <img src="../images/img/card.jpg" alt="card">					
        
    </div>
          <div class="auto-follow__content">
      <h2 class="auto-follow__title title">Автоисследование<br>
        <span class="primary-color"> минимальные<br>риски,</span> оптимальная<br>доходность </h2>
           <div class="auto-follow__text text">
      <p>Мы собрали для вас лучшие торговые стратегии 
      с подтвержденными данными по прошлым сделкам и 
      их доходности.</p> 
      <p>Трейдер ежедневно следит за динамикой рынка, 
      совершая сделки и балансируя риски и доходность стратегии.</p>
     </div>			 

    </div>
         

    </div>
      </div>



</main> 


